The challenge is to classify urban sounds from 4-second sound files. There are 10 possible classifications. The dataset provided includes 8729 training examples and 8731 unlabled sound files for testing. I like this problem because I'm a bit of an audiophile, and I want to try my hand at a neural network. 

I'll train a neural network to classify the sounds. First, I'll use the librosa library to load in the audio files and extract features (the different distinct frequencies in the audio file).  Then, I'll encode the labels using scikit-learn's LabelEncoder().  I'll use Keras to build model, keeping it as simple as possible for now (3 layers, using standard paramaters). Then I will evaluate the model using the test data set.

##Loading and encoding data. 
I'll install librosa (for dealing with audio files) and import libraries, then load data.

In [30]:
import os
import pandas as pd
import numpy as np
import librosa

In [23]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [24]:
train.head()

   ID         Class
0   0         siren
1   1  street_music
2   2      drilling
3   3         siren
4   4      dog_bark

In [25]:
train.Class.value_counts()

jackhammer          668
engine_idling       624
siren               607
dog_bark            600
street_music        600
air_conditioner     600
drilling            600
children_playing    600
car_horn            306
gun_shot            230
Name: Class, dtype: int64

We have about 600 examples of most sound types, about half that of car horn recordings, and about a third that of gun shots.

Now we will load the audio files using librosa.  I'll define a function that will allow me to apply the data to a data frame with the IDs and labels. 

Some explanation of the choices for processing audio data: 
1. Setting res_type to kaiser_fast speeds up loading the data, at a loss of quality. 
2. MFCC stands for Mel-frequency cepstral coefficients, it is a technique for extrating features based on frequency from the raw adio data. 
3. librosa.load returns a matrix (technically an mumpy.ndarray of size (n_mfcc, T) where T denotes the track duration in frames).

In [65]:
data_dir = 'data/Train'

def parse_sound(row):

    file_name = os.path.join('data/Train', str(row.ID) + '.wav')

    try:
        y, sample_rate = librosa.load(file_name, res_type='kaiser_fast') 
        mfccs = np.mean(librosa.feature.mfcc(y=y, sr=sample_rate, n_mfcc=40).T,axis=0) 
    except Exception as e:
        print("Error while parsing file: ", file)
        return None, None
  
    return mfccs

I want to get a visual confirmation of what this function does.  So,

In [33]:
y_audio, sample_rate = librosa.load(os.path.join('data/Train', '0.wav'))
mfcc = np.mean(librosa.feature.mfcc(y=y_audio, sr=sample_rate, n_mfcc=40).T, axis=0)
mfcc

array([-7.5095695e+01,  1.2961186e+02, -3.2669899e+01,  1.5285441e+01,
       -2.3782072e+00,  1.4626383e+01, -3.7646337e+00,  1.7962053e+01,
       -2.0119922e+00,  1.4395791e+01, -1.1574688e+00,  8.6595840e+00,
       -3.7047443e+00,  3.3922620e+00, -6.3679357e+00,  8.1460260e-02,
       -8.7272234e+00,  6.9419968e-01, -5.4218426e+00,  2.7331510e+00,
       -1.5587350e+00,  1.5997877e+00, -2.7055860e+00,  4.3276987e+00,
       -2.0708835e+00,  4.9955597e+00, -1.8933897e+00, -2.1113320e-01,
       -4.2716827e+00,  1.5992585e+00, -3.1662819e+00,  1.9053738e+00,
       -3.3244791e+00,  8.2804763e-01, -2.8830101e+00,  1.4041675e+00,
       -1.0563265e+00,  1.2371618e+00, -4.3638902e+00,  7.2084457e-01],
      dtype=float32)

These outputs are numerical values for each feature (think of the raw audio as what you hear from a whole choir, and the features are the a representation of each singer's voice for a given time interval, here, 1/10 of a second. It's really pulling out sound waves at different frequencies). 

Numerical values are our input to the ML model! It's just like the numerical representation of light intensity of a given color in a given pixel, in the context of computer vision.

Join the extracted feature data to the ID and label data. This takes a while...

In [78]:
ttrain = train
ttrain['mfccs'] = train.apply(parse_sound, axis=1)

In [79]:
ttrain = ttrain[['ID', 'Class', 'mfccs']]
ttrain.head()

   ID         Class                                              mfccs
0   0         siren  [[-82.12359, 139.50595, -42.430847, 24.82786, ...
1   1  street_music  [[-15.744001, 124.11996, -29.42888, 39.44719, ...
2   2      drilling  [[-123.393654, 15.181944, -50.093338, 7.141871...
3   3         siren  [[-213.2787, 89.323616, -55.256165, 12.632097,...
4   4      dog_bark  [[-237.9265, 135.90247, 39.26844, 21.24023, 9....

unresolved question: are these normally distributed? do they need normalization? do they need regularization? --adress this in next version

Set the mfcc data to X, labels to y, test mfcc data to test_X.  Encode labels as numbers.

In [149]:
from sklearn import preprocessing

X = np.array(ttrain.mfccs.tolist())
y = np.array(ttrain.Class.tolist())


# encode labels as numbers
le = preprocessing.LabelEncoder()
y = le.fit_transform(y)

##construct a neural network model!

Notes on hyperparameter choice:
1. 3 layers, one input, one hidden, one output. 
2. input layer shape is 40 because thre are 40 mel-frequency cepstral coeficients, one for each tenth of a second, in each sound file.  Output layer shape is 10 because there are 10 possible labels (actually, i have it calcualte that value).  The hidden layer is 
3. Activation = relu in the first two layers, Activation = softmax for output layer because thats what we need for multi-class classification.  All outputs sum to 1. 
4. Set dropout to 0.2 at start
5.

In [140]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution2D, MaxPooling2D
from keras.optimizers import Adam
from keras.utils import np_utils
from sklearn import metrics 

n_obs = len(X)

# build model
model = Sequential()

model.add(Dense(100, input_dim=40))
model.add(Activation('relu'))
model.add(Dropout(0.2))

model.add(Dense(100))
model.add(Activation('relu'))
model.add(Dropout(0.2))

model.add(Dense(10))
model.add(Activation('softmax'))

model.compile(loss='categorical_crossentropy', metrics=['accuracy'], optimizer='adam')

In [142]:
model.fit(X, y, batch_size=32, epochs=5, validation_split=0.2)

ValueError: Error when checking input: expected dense_20_input to have shape (40,) but got array with shape (1,)

In [154]:
X[0][0].shape

(40,)

In [ ]:
# repeat encoding procedure for the test data
def parse_sound(row):

    file_name = os.path.join('data/Test', str(row.ID) + '.wav')

    try:
        y, sample_rate = librosa.load(file_name, res_type='kaiser_fast') 
        mfccs = np.mean(librosa.feature.mfcc(y=y, sr=sample_rate, n_mfcc=40).T,axis=0) 
    except Exception as e:
        print("Error while parsing file: ", file)
        return None, None
  
    return mfccs

y_audio, sample_rate = librosa.load(os.path.join('data/Train', '0.wav'))
mfcc = np.mean(librosa.feature.mfcc(y=y_audio, sr=sample_rate, n_mfcc=40).T, axis=0)
mfcc

test['mfccs'] = test.apply(parse_sound, axis=1)

In [101]:
test

        ID                                              mfccs
0        5  [-76.2993, 20.437246, -17.56602, 26.38778, -22...
1        7  [-375.73608, 149.91734, -21.467178, 14.365269,...
2        8  [-150.61726, -26.240969, -24.232021, 15.293082...
3        9  [-233.55365, 99.5192, -39.737137, 19.140862, -...
4       13  [-74.35853, 107.8869, -15.967571, 34.601448, -...
...    ...                                                ...
3292  8708  [-50.20128, 59.27453, -78.98673, -10.342589, -...
3293  8718  [-373.61032, 86.03685, -50.425705, 11.193534, ...
3294  8719  [-123.03433, 98.71788, -5.6134286, 37.629673, ...
3295  8730  [-201.69658, 93.59071, -80.860405, -15.039109,...
3296  8731  [-271.51474, 135.73033, -9.027784, 2.6885016, ...

[3297 rows x 2 columns]